body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}
.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.pirate-face {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
}

.o-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 60px;
}
.x-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 60px;
  color: red;
}

.button-group {
  display: flex;
}
